@charset "utf-8";

html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	height: 100%;
	margin: 0;
	background: #f0f4b9a2 url(../images/home_page.png) no-repeat center center fixed;
	background-size: cover;
	position: relative;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 26px;
}

img {
    width: 720px; /* you can use % */
    height: auto;
}
/* body::before {
	content: "";
	position: absolute;
	top: 30px;
	bottom: 30px;
	left: 0;
	width: 100%;
	height: auto ;
	background-color: rgba(228, 11, 11, 0.352);
} */

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 110%;
	/* max-width: 1020px; */
	max-width: 90%;
	/* max-height: 90%; */
	/* min-height: 110%; */
	/* padding-bottom: 30px; */
	box-sizing: border-box;
	background-color: rgba(243, 243, 220, 0.5);
	text-shadow: 1px 1px 2px black;
	text-align: justify;
	/* top: -10px; 
	 bottom: -30px; 
	 left: -10px;
	 right: -10px; */
	padding-left: 5%;
		padding-right: 5%;
		padding-top: 2%;
		padding-bottom: 2%;
	/* padding: 5%; */

}

img.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #59595bb7;
	color: rgb(253, 250, 250);
	padding: 20px;
	width: 80%;
	max-width: 800px;
	font-size: 1.2em;
	text-align: center;
}

header nav ul {
	width: 100%;
	background-color: rgba(29, 32, 46, 0.765);
	height: 30px;
}

header nav ul li {
	width: 15%;
	float: right;
	font-size: 0.9em;
	color: #18181896;
	height: 100%;
	text-align: center;
}

body header a {
	color: rgb(236, 235, 240);
}

body a {
	color: brown;
	text-shadow: 1px 1px 2px black;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #464745;
	color: #fff;
	text-align: center;
	font-size: 1.2rem;
}